<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spandemo"
    >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/taptap_theme"
        >

        <activity
            android:name=".reply.ReplyActivity"
            android:name=".youtueb.YoutubeActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".nest.NestWithRecyclerViewActivity">

        </activity>
        <activity android:name=".text.AutoLineActivity">

        </activity>
        <activity
            android:name=".coor.ConstraintLayoutActivity"
            android:exported="false"
            />
        <activity android:name=".scroll.ScrollToolbarActivity"></activity>
        <activity
            android:name=".flex.WordCloudActivity"
            android:exported="true"
            />
        <activity
            android:name=".flex.WordCloudActivity"
            android:exported="true"
            />
        <activity
            android:name=".ClickActivity"
            android:exported="true"
            />
        <activity
            android:name=".TapActivityLayout"
            android:exported="true"
            />
        <activity
            android:name=".ViewActivity"
            android:exported="true"
            />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/taptap_theme_translucent"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            />
    </application>

</manifest>